body{
    background-color: pink;

}

.header{
    
    height: 900px;
    width:100%;
    
    
}
img{
    height: 700px;
    width: 600px;
    float: right;
    border-radius: 50%;

}
.About p{
    font-size: 20px;
    margin: 50px;
    padding-top: 30%;
    

}
.header .nav h1{
    color: blueviolet;

    
}

.nav{
    text-align: center;
    margin-left: 30%;
    margin-top: 5%;
   
}

span{

    color: blue;
    font-style: italic;
}
em{
    color: green;
    font-family: sans-serif;
    font-style: italic;
    font-weight: bold;
}
.Education{
    display: flex;
    margin-top: 10%;

}
.Specification{
    color: blue;
}
h3{
    text-align: center;
    color: blueviolet;
}
.








